
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.mycontainer{
    display: flex;

}
main{
    display: flex;
    flex-direction: column;
    width: 65%;
    /* justify-content: space-around; */
    align-self: center;
    margin-top: 3rem; 
}
aside{
    flex-basis: 20%;
    margin-right: 5rem;
    margin-left: 3rem;
    background-color: lightgray;
    
}
section{
    flex-basis: 70%;
}

li{
    display: list-item;
    margin-bottom: 1rem;
    font-size: 20px;
}

li >h4{
    font-size: 24px;

}

h3{
    border-left: 2px solid black;
    background-color: rgb(223, 242, 241);
    padding: 1rem;
    font-size: 28px;
}

mark{
    font-weight: bold;
    font-size: 24px;
}

a:visited{
    color: black;
}
a{
    color: black;
}
#nav{
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1.25rem;
    /* line-height: 1.7rem; */
    padding:0.4rem 1rem ;
    /* margin-left: -1rem; */
    border-bottom: 2px outset rgb(0, 0, 0 ,0.2);
    background-color: whitesmoke;
}
.logomy{
    width: 50px;
    margin-left: 5rem;
    margin-right: 0.5rem;
    position: relative;
    top: 0.5rem;
}

#header{
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
    top: 25vh;
}
#main{
    float: left;
    margin-left: 50px;
    position: relative;
    top: 25vh;
}
#footer{
    clear: both;
    text-align: center;
}

#line{
    float: left;
    margin-top: 60px;
}
.nav-left{
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    top: -0.5rem;
    
}
.navlist{
    float: right;
    font-weight: bolder;
    margin-right: 5rem;
    margin-top: 0.75rem;
}

.navMore{
    display: none;
}
.vl{
    height:85vh;
    width:.1vw;
    border-width:0;
    color:rgb(116, 111, 111);
    background-color:rgba(167, 163, 163, 0.699);
}
.site-title{
    font-weight: bold;
    font-style: italic;
    font-size: xx-large;
}

.frame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.left{
    flex: none;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: right;
    padding-right: 2rem;

}

.right{
    flex: auto;
    overflow: auto;
}

.displaytitle{
    flex: none;
    width: 99%;
    justify-content: flex-start;
    
}
.vline{
    flex: none;
    width: 1%;
    justify-content: center;
}


.list{
    /* background-color: lightgray; */
    padding: 15px; 
    margin-top: 4rem;
    margin-bottom: 50px;
    position: sticky;
    top: 5rem;
}
.gotopP{position: fixed;
    right: 20px;
    bottom: 20px;

}
.topcircle{
    width: 50px;
    height: 50px;
    background-color: rgb(155, 192, 186, 0.6);
    border-radius: 50%;
    box-shadow: 3px 3px 5px gainsboro;
}
.gotoparrow{
    width: 20px;
    position: absolute;
    right: 15px;
    top: -35px;
    opacity: 0.6;
}
footer{
    margin: auto 0;
    margin-top: 1rem;
    text-align: center;
}
table{
    border: 1px solid black;
    width: 90%;
}
td{
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: rgb(235, 232, 232);
}
.tdHeader{
    background-color: lightblue;
}

#mobilehr{
    display: none; 
}

.smallP{
    font-size: large;
}

.codePre{
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: 100;
    color: rgb(239, 244, 245);
    background-color: grey;
    padding: 1rem;
    margin-bottom: 1rem;
}

.gitlist{
    font-family: 'JetBrains Mono', sans-serif;
}


@media only screen and (max-width: 720px){
    .nav-left{
        font-weight: bolder;
        text-decoration: none;
        
    }
    .navlist{
        display: none;    
    }

    .navMore{
        display: block;
        float: right;
        margin: 0.7rem 1.5rem 0 0;
    }

    #line{
        display: none;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #header{
        flex: 500px;
        height: 700px;

    }
    #main{
        flex: 500px;
        height: 800px;
    }
    #mobilehr{
        display: block;
        width: 200px; 
    }
    aside{
        display: none;
    }
    main{
        width: 90%;
        margin: auto;
        padding: 2rem 0;
    }
    
}